.contacts {
  list-style: none;
  padding: 0 40px;
}

.contacts li {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid green;
  background: rgba(50, 155, 50, 0.659);
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.side-prof-pic {
  border-radius: 50%;
}

.contact-name {
  padding: 0 15px;
}
