.single-view {
  border: 1px solid black;
  width: 475px;
  margin: 100px auto;
}

.background-prof {
  background: green;
  display: flex;
  justify-content: center;
  position: relative;
  height: 225px;
}

#arrow {
  position: absolute;
  left: 25px;
  top: 15px;
}

.prof-pic {
  align-self: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.bottom-part {
  margin: 20px 15px;
  padding: 1opx;
  border-bottom: 1px solid black;
}

.bottom-part img {
  margin-right: 12px;
}
